.modal-bg
{
    
/*--slds-c-backdrop-color-background:	rgba(8, 7, 7, 0.6);*/
/*--slds-c-modal-content-color-background: none;*/
/*--slds-c-modal-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);*/
/*--slds-c-modal-sizing-border: 2px solid rgba(255, 255, 255, 0.3);*/
   
}

lightning-button-icon.slds-modal__close {
    display: none;
}


.content {
    --slds-c-card-color-background: rgba(255, 255, 255, 0.43);
    --slds-c-card-shadow: 0 0px 3px rgba(0, 0, 0, 0.70);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 255, 255, 0.8);
    padding: 0.5rem;
    border-radius: 8px;
}

.title-container
{
    display:inline-block;
    padding-bottom: 10px;
}
.title
{
    font-size:medium;
    padding-left:10px;
    vertical-align: bottom;
    font-weight: 700;
    display:inline-block
}